//- index.pug

doctype html
html
 head
  link(rel="stylesheet", href="graph-creator.css")
  link(rel="stylesheet" , href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js")
  script(src="alchemy.js", type="text/javascript")
 body

  #database
   button(id='settings-database' onClick='openNav()')
    img(src='settings.png', width='30px', height='30px') 

   div(id='mySideNav', class='sidenav')
    a(href='javascript:void(0)', class='closebtn', onClick='closeNav()') &times;
    div(class='form-style-6')
     h1 Database Settings
     form
      input(type='text', id='database-host', placeholder='Database Host')
      input(type='text', id='database-port', placeholder='Database Port') 
      select(id='database-name-select', placeholder ='Database Names')
       option(value="", selected='true') Select Database
      input(type='button', id='find-database', value ='Find Databases')
      input(type='button', id='connect-database', value='Connect Database')

  
    div(class='form-style-6')
     h1 Database Information
     form
      input(type='text', id='database-host-connected', placeholder='Database Host Connected ')
      

  #label-display(class='scrollmenu')
   p(id='label-display-title') Node Labels 
   ul#labels


  div
   #query-section
   #result-section
    div#list-section
     h3 Result Matches
     ul#result-list
    div(class="alchemy", id='alchemy') 
  #chart-section

  #toolbox
   button(id='submit-query') Submit Query
   button(id='pointer-drag') Draw / Edit
   button(id='query-drag') Drag / Delete
   button(id='delete-graph') Delete Query
   input(type='file', id='file-upload')
   button(id='file-download') Download File
 

  script(type="text/javascript", src="//d3js.org/d3.v3.js")
  script(type="text/javascript", src="//cdn.jsdelivr.net/filesaver.js/0.1/FileSaver.min.js")
  script(type="text/javascript", src="graph-creator.js")
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(type="text/javascript", src="https://code.highcharts.com/highcharts.js")
  script(type="text/javascript", src="https://code.highcharts.com/modules/histogram-bellcurve.js")
