//- index.pug

doctype html
html
 head
  link(rel="stylesheet", href="graph-creator.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js")
  script(src="alchemy.js", type="text/javascript")
 body

  #database
   button(id='settings-database' onClick='openNav()')
    img(src='settings.png', width='30px', height='30px') 

   div(id='mySideNav', class='sidenav')
    a(href='javascript:void(0)', class='closebtn', onClick='closeNav()') &times;
    div(class='form-style-6')
     h1 Database Settings
     form
      input(type='text', id='database-name', placeholder='Database Name')
      input(type='text', id='database-host', placeholder='Database Host')
      input(type='text', id='database-port', placeholder='Database Port') 
      input(type='button', id='connect-database', value='Connect Database')

  #label-display(class='scrollmenu')
   ul#labels

  #toolbox
   button(id='submit-query') Submit Query
   button(id= 'pointer-drag') Draw
   button(id='delete-graph') Delete Query
   input(type='file', id='file-upload')
   button(id='file-download') Download File
 
  div
   #query-section
   #result-section
    div#list-section
     h3 Result Matches
     ul#result-list
    div(class="alchemy", id='alchemy') 

  script(type="text/javascript", src="//d3js.org/d3.v3.js")
  script(type="text/javascript", src="//cdn.jsdelivr.net/filesaver.js/0.1/FileSaver.min.js")
  script(type="text/javascript", src="graph-creator.js")
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")