//- index.pug

doctype html
html
 head
  link(rel="stylesheet", href="graph-creator.css")
  link(rel="stylesheet" , href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="alchemy.js", type="text/javascript")
 body(style="{background-color: #4c93ef;}")

  #database
   button(id='settings-database' onClick='openNav()')
    img(src='settings.png', width='30px', height='30px') 

   div(id='mySideNav', class='sidenav')
    a(href='javascript:void(0)', class='closebtn', onClick='closeNav()',id='closeBtn') &times;
    div(class='form-style-6')
     h1 Database Settings
     form
      input(type='text', id='database-host', placeholder='Database Host')
      input(type='text', id='database-port', placeholder='Database Port') 
      select(id='database-name-select', placeholder ='Database Names')
       option(value="", selected='true') Select Database
      input(type='button', id='find-database', value ='Find Databases')
      input(type='button', id='connect-database', value='Connect Database')

  
    div(class='form-style-6')
     h1 Database Information
     form
      input(type='text', id='database-host-connected', placeholder='Database Host Connected ', readonly=true)
     input(type='button', id='disconnect-database', value='Disconnect Database')
      

  #label-display(class='scrollmenu')
   p(id='label-display-title') Node Labels 
   ul#labels


  #toolbox
   p Query ToolBox
   div(class='btn-group-vertical')
    button(id='submit-query' class='btn btn-primary') Submit Query
    button(id='pointer-drag' class='btn btn-primary') Draw / Edit
    button(id='query-drag' class='btn btn-primary') Drag / Delete
    button(id='delete-graph' class='btn btn-primary') Delete Query
    button(id='file-download' class='btn btn-primary') Download File
 

  div#canvas-body
   #query-section
   #result-section
    div#list-section
     h3 RESULT MATCHES
     ul#result-list
    div(class="alchemy", id='alchemy') 
  #chart-section

  #note
   Database Connected
   a(id='close',style="{padding: 6px}") &times
  
  #warning
   Database Already Connnected!
   a(id='close_warning', style="{padding: 6px}") &times


  script(type="text/javascript", src="//d3js.org/d3.v3.js")
  script(type="text/javascript", src="//cdn.jsdelivr.net/filesaver.js/0.1/FileSaver.min.js")
  script(type="text/javascript", src="graph-creator.js")
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(type="text/javascript", src="https://code.highcharts.com/highcharts.js")
  script(type="text/javascript", src="https://code.highcharts.com/modules/exporting.js")
